<%- include ('../../partials/header.ejs') %>
  <%- include ('../../partials/nav.ejs') %>
    <div class="container">
      <hr>
      <div class="card">
        <div class="card-header">
          Cadastro de categoria
        </div>
        <div class="card-body">
          <form action="/categories/save" method="post">
            <input class="form-control" type="text" name="title" placeholder="Defina o título da categoria">
            <br>
            <button class="btn btn-success">cadastrar</button>
          </form>
        </div>
      </div>
    </div>


    <%- include ('../../partials/footer.ejs') %>