<nav class="navbar navbar-dark bg-primary navbar-expand-lg ">
  <a href="/" class="navbar-brand">
    Blogão
  </a>
 
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="/" class="nav-link">Home</a>
    </li>

    <% categories.forEach(category => {%>
      <li class="nav-item">
        <a href="/category/<%=category.slug%>   " class="nav-link">
         <%=category.title %>
        </a>
      </li>
   <% }); %> 
   
    
   
   
     
</ul>
</nav>