<nav class="navbar navbar-dark bg-primary navbar-expand-lg ">
  <a href="/" class="navbar-brand">
    Blogão
  </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a href="/admin/categories" class="nav-link">
        Home     
      </a>
    </li>

  </ul>
</nav>